@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body{
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: "Roboto Slab", serif;
} 

.image-inverted{
  filter: invert(100%);
}