@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background: rgb(150, 140, 140);
  color: rgb(51, 51, 51); 
  font-family: "Open Sans", sans-serif;
}

.image-inverted {
  filter: invert(100%);
}

.nav-link {
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 10px;
  margin-left: 10px;
  padding: 8px 20px;
  border-radius: 10px;
  text-decoration: none;
  letter-spacing: 1px;
}

.MuiOutlinedInput-input-root.Mui-focused,
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

